<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/css/generateStyle.css') }}">
    <div class="home-container">
        <a >
            <button  class="advanced-button1 e36" onclick="generateBasic()">
                <span class="advanced-text3">
                  <a href="{{ url_for('static', filename='/contract.zip') }}" download="apple">Generaxte</a>
                </span>
              </button>            
        </a>
        

    </div>
</body>
</html>